*,
* ::after,
*::before {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background: linear-gradient(
    to right,
    hsl(200, 100%, 50%),
    hsl(175, 100%, 50%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
  transform: translateY(50%);
  overflow: hidden;
}

.clock {
  height: 300px;
  width: 300px;
  background-color: azure;
  border-radius: 50%;
  position: relative;
}

.hand-second {
  height: 100px;
  width: 2px;
  background-color: red;
  position: absolute;
  bottom: 50%;
  right: 50%;
  opacity: 50%;
  transform-origin: 0% 100%;
}

.hand-minute {
  height: 120px;
  width: 4px;
  background-color: rgb(155, 136, 136);
  position: absolute;
  bottom: 50%;
  right: 50%;
  opacity: 50%;
  transform-origin: 0% 100%;
}

.hand-hour {
  height: 130px;
  width: 5px;
  background-color: rgb(23, 11, 11);
  position: absolute;
  bottom: 50%;
  right: 50%;
  opacity: 50%;
  transform-origin: 0% 100%;
}

.center {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
